/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

@mixin darkShadow ($verticalOff, $spread){
    box-shadow: 0 $verticalOff $spread $soft-gray;
}

@mixin cliped-background($img){
    background-image: linear-gradient(to right bottom, $primary-color, $secondary-color), url($img);
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

%zero-p-m{
    margin: 0px;
	padding: 0px;
}

$primary-color: rgba(126,213,111,0.80);
$secondary-color: rgba(40,180,133,0.60);
$text-color: #777;
$white: #FFF;
$soft-gray: rgba(0,0,0,.2);

html{
	font-size: 62.5%;
}
* {
    @extend %zero-p-m;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.6rem;
	color: $text-color;
}

.header {
	height: 95vh;
    @include cliped-background("../img/hero.jpg");
    position: relative;
    
    &_logo-box {
        position: absolute;
        /* use top, bottom, left, right to position it */
        /* the origin or reference point of this object is a parent element and must have its position set to relative */
        top: 4rem;  
        left: 4rem;
    }
    &_logo {
        /* I prefer to control the height and then the width will scale automatically */
        height: 3.5rem;  
    }
}

.heading-primary {
    color: $white;
    text-transform: uppercase;
    /* if your animation has a little shake at the end, you can add this line of code to stop the shake */
    /*backface-visibility: hidden;*/
    /* add some space between the heading and the button */
    margin-bottom: 6rem;
	
	&-main {
    /* by default a span element is an inline element so change it to a block so each piece of text appears on a separate line */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
	}
	&-sub {
    /* by default a span element is an inline element so change it to a block so each piece of text appears on a separate line */
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out;
	}
}


.header_text-box {
    /* Now we need to center it into the middle of the image no matter what the viewport is - so we will surround the span elements with a div block - this is in relation to the Parent Element */
    position: absolute;
    top: 40%;
    left: 50%;

     /*background-color: red;*/ 
    /* Add the red color just to see that it is perfectly centered - it is actually 50% from the left & top edges */ 
    
    /* Add a transform: translate(x, y) command - this will shift the element 50% of the elements height to the top & 50% of the elements width to left  - this is in relation to the element itself */
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Animation to slide the span elements from left and from right */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem );  /* negative means left to right */
    }

    80% {
        transform: translateX(1rem);  /* positive means more to the right */
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/* Animation to slide the span elements from left and from right */

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);  /* negative means rigiht to left */
    }
    80% {
        transform: translateX(-1rem);  /* positive means more to the left */
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.btn{
    /* pseudo-classes - special state of a button */
    &:link,&:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
    
        /* add an animation using the transistion property - it must be on the initial state ie. the link state */
        transition: all .2s;
         /* the origin or reference point of this object is a parent element and must have its position set to relative */
        position: relative;
    }
    &-white {
        background-color: $white;
        color: $text-color;
        
        &::after {
        background-color: $white;
        }
    }
    &:hover{
        transform: translateY(-.3rem);   /* negative moves it up from bottom to the top */
        /* box-shadow: x y blur color; */
        @include darkShadow(1rem, 2rem);
        &::after {
            /* transform: scale(1.5); */
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }


    &:active {
        transform: translateY(-1px);  /* in relation to the link state */
        /* box-shadow: x y blur color; */
        @include darkShadow(.5rem, 1rem);
    }
    &::after {
        /* inorder for an ::after pseudo property to appear, you must define its content property (it can be empty or anything) and you must define its display property same as the main button.  height & width must be 100% so the ::after btn has the same dimensions as the main button */
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        /* this is in relation to the Parent Element .btn:link  */
        position: absolute;
        top:0;
        left:0;
        z-index: -1;  /* behind the button */
        /* add an animation using the transistion property - it must be on the initial state ie. the ::after state */
        transition: all .4s;
    }

    &-animated{
        animation: moveInBottom .5s ease-out .75s;
    
        /* applies styles before the animation starts */
        animation-fill-mode: backwards;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);  /* negative means right to left */
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}